# =========================
# Kaggle
# =========================
KAGGLE_USERNAME=seu_usuario_kaggle
KAGGLE_KEY=sua_chave_kaggle

# =========================
# DagsHub - usado pelo DVC
# =========================
DAGSHUB_USERNAME=seu_usuario_dagshub
DAGSHUB_TOKEN=seu_token_dagshub
DAGSHUB_REPO_URL=https://dagshub.com/seu_usuario/seu_repositorio

# =========================
# MLflow - usado pelo treino
# =========================
MLFLOW_TRACKING_URI=https://dagshub.com/seu_usuario/seu_repositorio.mlflow
MLFLOW_TRACKING_USERNAME=seu_usuario_dagshub
MLFLOW_TRACKING_PASSWORD=seu_token_dagshub
MLFLOW_EXPERIMENT_NAME=genz_burnout_prediction